<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" routerLink="/">NG MySql Crud Node/Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/juegos" routerLinkActive='active'> Juegos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/juegos/add" routerLinkActive='active'> Agregar Juego</a>
      </li>

    </ul>
  </div>
  <!--  agrego informacion para el git init comit -->

</div>

</nav>
