<div class="col-md-4-offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
          <div class="form-group">
              <input type="text" name="titulo" placeholder="Titulo" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="descripcion" placeholder="Descripcion" class="form-control"  >
        </div>
        <div class="form-group">
          <input type="text" name="foto" placeholder="Foto" class="form-control"  >

      </div>

      </form>
    </div>
  </div>
</div>
