<div class="col-md-4" *ngFor="let game of juego">
    <div class="card text-center">
          <div class="card-header bg-dark d-flex justify-content-between align-items-center text-white">
             {{game.titulo}}
             <button class="btn btn-danger ">
               <i class="fa fa-trash"></i>
             </button>
          </div>
          <img [src]="game.foto" class="card-img-top">

          <div class="card body">
              <p>{{game.descripcion }}</p>
              <a href="" class="btn btn-info btn-block"> Edit </a>

          </div>
    </div>
</div>
